*.jar
**/*.baseDir.ts
.idea/**/*.xml
!.idea/codeStyleSettings.xml
!.idea/watcherTasks.xml
.grunt
.sass-cache
.tscache
_SpecRunner.html
/bower_components/
/build/
/demo/styles/
/dist/
/docs/
/lib/
/nbproject/private/
/node_modules/
/reports/
/selenium-debug.log
/src/main/ts/**/*.js
/src/main/ts/**/*.js.map
/src/test/ts/**/*.js
/src/test/ts/**/*.js.map
/test/nightwatch/report
/test/nightwatch/screenshots
