# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

# http://docs.travis-ci.com/user/languages/javascript-with-nodejs/
language: node_js
node_js:
  - "stable"

# http://docs.travis-ci.com/user/gui-and-headless-browsers
before_install:
  - "export CHROME_BIN=chromium-browser"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

# http://docs.travis-ci.com/user/build-lifecycle/
before_script:
  - "npm install -g grunt-cli"
  - "grunt init"

script:
  - "grunt test"

# http://docs.travis-ci.com/user/notifications/
notifications:
  email: false
